@font-face
{
font-family: myFont;
src: url(../Lintel-Regular.otf);
}


/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

.navigation{
    right: 10px;
    top: 10px;
    z-index: 100;
    position: fixed;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}


.header{
    background: url(../imgs/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 !important;
    font-family: myFont !important;
    letter-spacing: .1em;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    color: white;
}


.header h1{
    font-size: 72px;
    letter-spacing: .3em;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.header h6{ 
    font-size: 28px;
    margin: 0;
    padding: 0;

}


.signup{
    padding: 50px;
    background-color: #1c273f;
    margin: 0 !important;
    min-width: 800px;


}


.content1{
    background-color: white;
    color: #21314a;
    padding: 50px 0 50px 0;
    line-height: 1.7em;
    font-size: 16px;
    
    
}

.content1 p, .content1 h2{
    text-align: left !important;
    
}


.content2{
    background-color: #1c273f;
    color: white;
    padding: 50px 0 50px 0;
    line-height: 2em;
    font-size: 16px;
    
    
}

.content3{
    background-color: white;
    color: #21314a;
    padding: 50px 0 10px 0;
    line-height: 1.7em;
    font-size: 16px;
    
    
}

.content2 p, .content2 h2{
    text-align: left !important;
    
}

h5{
    padding: 0 80px;
}


.footer{
    background-color: #403c3c;
    color: #827c7c;
    text-align: center;
    padding: 15px 10px;
    margin: 0 !important;
    letter-spacing: .1em;
    min-width: 800px;

}

.row{
    text-align: center;
    margin: 0 !important;
}

.us{
    color: #1192ce;
    font-weight: 800;
}